// Place all the styles related to the announces controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.__root-react {
  height: 100%;
  width: 100%;
}
header#index-header {
  position: sticky;
  background: white;
  display: flex;
  align-items: center;
  padding: .25rem 1rem;
  justify-content: space-between;
  .__main-header {
    display: flex;
    align-items: center;
    img._logo {
      width: 3.5rem;
      height: 3.5rem;
      margin: .75rem .5rem .25rem;
    }
    .__search-input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    height: 100%;
    width: 24rem;
    margin: .5rem 1rem;
    padding: .75rem 1.25rem;
    border-radius: 0.2rem;
    border: .063rem solid lightgrey;
    box-shadow: 0.25px 0.3rem 0.5rem #9ca0ab2e;
    ._input {
      display: block;
      font-size: 1rem;
      border: none;
      height: 100%;
      min-width: 75%;
      opacity: .65;
      &:focus {
        outline: none;
      }
    }
    svg {
      width: 1.5rem;
      height: 1.5rem;
      opacity: .75;
    }
  }
  }
  .__auth {
    display: flex;
    a {
      font-size: .9rem;
      color: #868686;
      margin: 0 .5rem;
      &._sign-in {

      }
      &._log-in {

      }
    }
  }
}
section#__main-index {
  display: flex;
  height: 100%;
  .__announces-index {
    // ._announce-item {
    //   img {}
    //   .__info-container {
    //     ._announce-title {}
    //     ._announce-location {}
    //     ._announce-description {}
    //   }
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: 100%;
    width: 100%;
    grid-gap: 1rem;
    padding: 1rem;
    justify-content: space-between;
    ._announce-item {
      display: flex;
      flex: 1;
      flex-direction: column;
      // max-width: 32.25%;
      min-width: 25%;
      box-shadow: .015em .06em .5em .13em rgba(120, 119, 119, 0.3);
      .__image-link {
        position: relative;
        height: 100%;
        img {
          width: 100%;
        }
        .__btn-container {
          display: flex;
          position: absolute;
          top: 0;
          width: 100%;
          height: 97%;
          opacity: 0;
          align-items: center;
          justify-content: center;
          transition: all .5s;
          background-color: rgba(0, 0, 0, 0.3);
          ._btn-show-announce {
            opacity: 0;
            padding: .5rem 1.75rem;
            background-color: #4e9cf0;
            border-radius: .25rem;
            box-shadow: .015em .06em .5em .13em rgba(215, 215, 215, 0.25);
            transition: all .5s;
            color: white;
          }
        }
        &:hover {
          .__btn-container {
            opacity: 1;
            ._btn-show-announce {
              opacity: 1;
            }
          }
        }
      }
      .__info-container {
        margin-top: -.3rem;
        display: flex;
        height: 100%;
        flex-direction: column;
        justify-content: start;
        position: relative;
        max-height: 9rem;
        width: 100%;
        padding: 1.25rem .75rem 1rem;
        border: .05rem solid rgba(151, 151, 151, .7);
        border-top: none;
        ._announce-title {}
        ._announce-location {
          position: absolute;
          top: .25rem;
          right: .25rem;
          font-size: .75em;
          opacity: .75;
          text-align: right;
          text-transform: uppercase;
          max-width: 5rem;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
        }
        ._announce-description {
          margin: .25rem 0 0 .13rem;
          opacity: .75;
          font-size: .75em;
        }
      }
      &#announce-item__add {
        .__image-link {
          height: 180%;
          opacity: .5;
          background-color: white;
          display: flex;
          justify-content: center;
          align-items: center;
          ._logo {
            width: 60%;
            opacity: .75;
            filter: grayscale(.9);
            transition: all .75s;
          }
        }
        .__info-container {
          border: none;
          display: flex;
          justify-content: center;
          align-items: center;
          ._announce-title {
            color: #797979;
            text-align: center;
            border-bottom: 1px outset transparent;
            transition: all .5s;
          }
        }
        &:hover {
          .__image-link {
            ._logo {
              opacity: .9;
            }
          }
          .__info-container {
            ._announce-title {
              border-bottom: 1px outset #ffffff;
            }
          }
        }
      }
    }
    &.-user-style-list {
      ._announce-item {
        .__image-link {
          ._announce-picture {}
          ._btn-show-announce {}
        }
        .__info-container {
          ._announce-title {}
          ._announce-location {}
          ._announce-description {}
        }
      }
    }
  }

  ._map {
    position: sticky;
    padding: 1rem;
    width: 40%;
    height: calc(100vh - 5.25rem);
    opacity: 1;
    .gm-fullscreen-control {
      display: none;
    }
  }
  .marker {
    img {
      margin: -.5rem 0 0 .4rem;
      height: 2rem;
      width: auto;
      max-width: 6rem;
      outline: .25rem solid white;
      box-shadow: .15em .5em .5em .13em rgba(120, 119, 119, 0.5);
      transition: all 1s;
    }
    div {
      background: linear-gradient(to bottom right, transparent 50%, white 50%);
      box-shadow: .15rem .15rem .5em .013em rgba(120, 119, 119, 0.5);
      width: 1rem;
      height: 1rem;
      transform: rotate(45deg);
      margin: -.5rem 0 0 1.25rem;
    }
    &.selected {
      img {
        box-shadow: 0 0 1.25em .75em rgba(48, 160, 215, 0.61);
      }
    }
  }
}
